// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.logo-img,
.good-img,
.works-img,
.menu-img,
.plan-img-a,
.plan-img-b,
.plan-img-c,
.quotes-img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0 3em;
    margin-top: 45px;
}

// Logo Bar
.logo-bar {
    display: flex;
    justify-content: space-between;
}

.logo-img {
    padding: 0 0 0 5px;
    margin: 0;
}

.icon {
    color: black;
    padding-right: 0.8em;

    @media (min-width: 600px) {
        display: none;
    }
}

// Navigation
.navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: black;

    @media (max-width: 600px) {
        display: none;
    }
}

.topnav {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.nav-link {
    display: inline-block;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.signup {
    border: 2px solid #fff;
    border-radius: 3px;
}

// Header Styling

.header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 750px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

.header-col-1 {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Merriweather Sans', sans-serif;
    order: 2;

    @media (min-width: 750px) {
        order: 1;
        line-height: 3em;
        flex-basis: 500px;
    }
}

.header-col-2 {
    order: 1;

    @media (min-width: 750px) {
        order: 2;
        flex-basis: 700px;
    }
}
// End Header
// Main Content Styling

.works-text,
.view-menu-text {
    text-align: center;
    margin: 0 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    line-height: 2;
}

h2 {
    padding-bottom: 0.5em;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.menu-text p {
    text-align: center;
    margin: 0 2em;
    margin-bottom: 1.5em;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
// How it Works
.main-content-row-1 {
    display: flex;
    flex-direction: column;

    @media (min-width: 750px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

.main-content-col-1 {
    order: 2;

    @media (min-width: 750px) {
        line-height: 2em;
        flex-basis: 900px;
    }
}

.main-content-col-2 {
    order: 1;

    @media (min-width: 750px) {
        flex-basis: 1000px;
    }
}
// View Menu 
.main-content-row-2 {
    display: flex;
    flex-direction: column;

    @media (min-width: 750px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.main-content-col-3 {
    order: 1;

    @media (min-width: 750px) {
        line-height: 2em;
        flex-basis: 900px;
        order: 2;
    }
}

.main-content-col-4 {
    order: 2;

    @media (min-width: 750px) {
        flex-basis: 900px;
        order: 1;
        margin-top: 25px;
    }
}
//Plans
.plans-container-row-3 {
    @media (min-width: 750px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
//Footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}

.soc-med a i,
.copyright a {
    color: white;
    display: inline-block;
    padding: 0.5em;
}
